---
// Import the necessary dependencies
import { Image } from "astro:assets";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";
import ReviewComponent from "@components/ui/blocks/ReviewComponent.astro";

// Define props from Astro
const {
  title,
  subTitle,
  primaryBtn,
  primaryBtnURL,
  secondaryBtn,
  secondaryBtnURL,
  withReview,
  avatars,
  starCount,
  rating,
  reviews,
  src,
  alt
} = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  primaryBtn?: string;
  primaryBtnURL?: string;
  secondaryBtn?: string;
  secondaryBtnURL?: string;
  withReview?: boolean;
  avatars?: Array<string>;
  starCount?: number;
  rating?: string;
  reviews?: string;
  src?: any;
  alt?: string;
}
---

<!-- Wrap the entire Hero Section in a slot="hero" container -->
<div slot="hero">
  <!-- Defining a grid container that holds all the content -->
  <section
    class="mx-auto grid max-w-[85rem] gap-4 px-4 py-14 sm:px-6 md:grid-cols-2 md:items-center md:gap-8 lg:px-8 2xl:max-w-full"
  >
    <!-- Title and description -->
    <div>
      <!-- Each h1 and p tag renders a portion of the title and subTitle defined above -->
<h1
        class="text-4xl font-bold mb-4 text-neutral-800 dark:text-neutral-200"
      >
        Helping Teams Build Better Software
      </h1>
      <p
        class="text-gray-400 mb-6"
      >
        Hi, I’m Mario Guerra, a Product Manager at Microsoft for TypeSpec. I specialize in creating tools and processes that help developers ship high-quality APIs faster—making software development easier and more reliable for teams of all sizes.
      </p>
      <!-- Action Button Section: This section includes two CTAs with their own styles and URL -->
<div class="space-x-4">
        <a href="#about" class="bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600">Learn More</a>
        <a href="#contact" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600">Contact Me</a>
      </div>

      <!-- Review Section: This section presents avatars, review ratings and the number of reviews -->
      { withReview ? (
      <ReviewComponent avatars={avatars} starCount={starCount} rating={rating} reviews={reviews} />
      ) : "" }

    </div>
    <!-- Hero Image Section -->
    <div class="flex w-full">
        <div class="top-12 overflow-hidden">
      {src && alt &&
<Image
  src={src}
  alt={alt}
  class="h-full w-full object-cover object-center"
  draggable={"false"}
  loading={"eager"}
  format={"webp"}
/>
      }
      </div>
    </div>
  </section>
</div>
